%keyboard__layout{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius: 9px;
    padding: 15px;
    background-color: #c2c2a3;
    width:674px;
    row-gap: 5px;
    column-gap: 3px;
}