.dos .dos__keyboard .keyboard__key {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #e1e1b6;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 200ms;
}
.dos .dos__keyboard .one-space.keyboard__key {
  font-size: 16px;
  width: 40px;
  border-radius: 25%;
}
.dos .dos__keyboard .two-space.keyboard__key {
  font-size: 14px;
  width: 83px;
  border-radius: 6%;
}
.dos .dos__keyboard .three-space.keyboard__key {
  font-size: 16px;
  width: 125px;
  border-radius: 6%;
}
.dos .dos__keyboard .six-space.keyboard__key {
  font-size: 16px;
  width: 256px;
  border-radius: 6%;
}
.dos .dos__keyboard .pressed.keyboard__key {
  background-color: #b0b08c;
}

.dos .dos__keyboard .keyboard__layout {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-radius: 9px;
  padding: 15px;
  background-color: #c2c2a3;
  width: 674px;
  row-gap: 5px;
  column-gap: 3px;
}

.dos .dos__keyboard {
  width: 674px;
  overflow: hidden;
}
.dos .dos__keyboard .layouts-wrapper {
  display: flex;
  width: 9999px;
}
.dos .dos__keyboard .keyboard__key .key__alt {
  display: none;
}
.dos .keyboard-ru.dos__keyboard .layout--ru {
  order: 0;
}
.dos .keyboard-ru.dos__keyboard .layout--en {
  order: 1;
}
.dos .keyboard-en.dos__keyboard .layout--ru {
  order: 1;
}
.dos .keyboard-en.dos__keyboard .layout--en {
  order: 0;
}
.dos .alt-mode.dos__keyboard .key__main {
  display: none;
}
.dos .alt-mode.dos__keyboard .key__alt {
  display: inline;
}

.dos .dos__monitor {
  box-sizing: border-box;
  border: solid black 3px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #c2c2a3;
  border-radius: 3px;
}
.dos .dos__monitor .monitor__display {
  height: 100%;
  padding: 30px 30px 12px;
}
.dos .dos__monitor .display__text {
  box-sizing: border-box;
  display: flex;
  background-color: #233b1b;
  width: 100%;
  height: 100%;
  border: solid black 2px;
  resize: none;
  font-size: 18px;
  color: #b2f279;
}
.dos .dos__monitor .display__text:focus {
  outline: none;
}
.dos .dos__monitor .monitor__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.dos {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.note {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 8%;
  width: 250px;
  box-sizing: border-box;
  border: solid black 2px;
  overflow: hidden;
}
.note .note__header {
  background-color: #f5bf49;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
}
.note .note__lines {
  background-color: white;
}
.note .note__line {
  padding-left: 5px;
  border-top: dotted black 1px;
  height: 29px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Dancing Script", cursive;
}

* {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
